@keyframes fadeInScaleUp {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .header-image {
    width: 100%;
    height: auto;
    animation: fadeInScaleUp 1.5s ease-out forwards;
  }
  
  


  .a{

    display: flex;
  }

  .ab{
    display: block;
  }

  .ac{
    display: block;
    padding: 10px;
    align-items: center;
    text-align: center;
    width: 50%;
  }

  .linecut {
    background: url('/linecut.gif');
    height: 4px;
  }


  body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 10px;
}
.footer a {
    color: #639;
    text-decoration: none;
    margin: 0 10px;
}
.footer a:hover {
    text-decoration: underline;
}